.taskList {
  .list {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: auto;
    min-height: 40vh;
    max-height: 40vh;

    .myCenterAlign {
      width: 100%;
    }
  }

  .list::-webkit-scrollbar {
    width: 3px;
    background-color: white;
  }

  .list::-webkit-scrollbar-thumb {
    background-color: #002d74;
  }
}
